<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581745483272-dmnlchd65tam2r8lo7drf73d23avnck2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581745483272-dmnlchd65tam2r8lo7drf73d23avnck2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>581745483272-r78l37g73n9n3vjp4t9otdgfmgf958sc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAC692BafldcXMkyBlszThdwx20JkyARlU</string>
	<key>GCM_SENDER_ID</key>
	<string>581745483272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pain</string>
	<key>PROJECT_ID</key>
	<string>pain-5464c</string>
	<key>STORAGE_BUCKET</key>
	<string>pain-5464c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581745483272:ios:aad0d43cdb8bfebae43bbd</string>
</dict>
</plist>